html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  transition: all ease-in-out 0.5s;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

header{
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9;
  transition: all ease-in-out 0.5s;
}

.card{
  min-height: 420px;
}

.link{
position: absolute;
display: block;
bottom: 10px;
left: 15px;
right: 15px;
}

.mode{
  background: #4b4b4b !important;
}

.h-mode{
  background: #4b4b4b !important;
  color: white !important;
}

